<!--Edit your 'Post' new/edit views to allow the user to select multiple subs via checkboxes

Structure your HTML form to upload an array of sub_ids nested under post
Update the PostsController#post_params to accept an array of sub_ids  -->



<h3><%= @post.title %></h3>
<label>Link:</Label><%= @post.url %>
<label><h4>Content</h4><label>
<p><%= @post.content %></p>

<div class="container">



</div>


<%= link_to "Edit post", edit_post_url(@post) if @post.author == current_user %><br>
<%= link_to "<< Back to Main", subs_url %>
