<!--Edit your 'Post' new/edit views to allow the user to select multiple subs via checkboxes

Structure your HTML form to upload an array of sub_ids nested under comment
Update the PostsController#comment_params to accept an array of sub_ids

Edit your PostsController#show view to provide a link to a comment form and to display top-level comments. -->



<h3>Comment to '<%= @comment.post.title %>'</h3>
Votes: (<%= @comment.user_votes %>)
<p><%= @comment.content %></p>
<p><small>Posted by: <%= @comment.author.username %> at <%= @comment.created_at %></small></p>

<p><i>Reply to this comment</i></p>

<%= render 'form', comment: @new_comment %>

<h3>Replies to Comment</h3>
<ul>
<% @comment.child_comments.each do |child| %>
    <li><%= child.content %></li>
    <small>posted by <%= child.author.username %> at <%= @comment.created_at %></small>
    <% end %>
  </ul>

<%= link_to "<< Back to Main", subs_url %>
